@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  line-height: 1.6;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
  color: #333;
  background-color: #f4f6f8;
  font-family: Arial, Helvetica, sans-serif;
}
